body{
  background: #067780;
  background: -webkit-linear-gradient(-135deg, #9be7eb, #50a4c8);
  background: -o-linear-gradient(-135deg, #9be7eb, #50a4c8);
  background: -moz-linear-gradient(-135deg #9be7eb, #50a4c8,);
  background: linear-gradient(-135deg, #9be7eb, #50a4c8);
}

#homepage-welcome {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 7.8%;
    padding-top: 50px;
    padding-bottom: 3%;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
    background: #ffffff;
    box-shadow: 2px 2px 5px grey;
}