<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WikiSearch | DB Admin</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/page.css">
    <link rel="stylesheet" href="/css/submit_btn.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>

<nav th:insert="fragments/general.html :: nav(currUser=${user})"> </nav>

<!--------------------Article Upload----------------------->
<div class="page">
    <!-- Page Description -->
    <h2>DB Admin</h2>
    <p>Upload DB xml dump</p>
    <br>

    <!-- Upload Form -->
    <form method="post" enctype="multipart/form-data" action="/db_admin/upload">

        <!-- File Chooser -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       aria-describedby="inputGroupFileAddon01" name="dbToUpload">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

        <!-- Submit Button -->
        <br><br>
        <div class="submit-btn">
            <input type="submit" class="btn btn-primary btn-lg" value="UPLOAD">
        </div>

        <!-- File Size Limit -->
        <br>
        <p>Note: max file size is 1GB</p>
    </form>
    <br>

    <a class="btn btn-primary btn-lg" href="/db_admin/dump_db" id="db_dump" role="button">Dump DB</a>
</div>

<!------------------------ Bootstrap JS ---------------------------->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<!-- Upload file chooser: script for displaying file path -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script>
    $('#inputGroupFile01').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        cleanFileName = fileName.replace('C:\\fakepath\\', " ");
        $(this).next('.custom-file-label').html(cleanFileName);
    })
</script>


</body>
</html>